@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.heroSection {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.imgHero {
    height: 100vh;
}
.heroCont {
    padding: 4vw;
    position: relative;
}
h1 {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: #571845;
    text-shadow: -2px -2px 11px rgba(150, 150, 150, 1);
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FF5733;
    font-size: 1.8vw;
    margin: 0.6vw 0 0.3vw 1.5vw;
}
.lineaPrimera {
    height: 3.5px;
    width: 35%;
    background-color: #FFC300;
    position: absolute;
    left: 0px;
}
.lineaSegunda {
    height: 3.5px;
    width: 63vw;
    background-color: #FFC300;
    position: absolute;
    right: 0px;;
}
.cita {
    padding: 4vw;
    font-size: 3vw;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: rgb(58, 58, 58);
}
.comillas {
    color: #571845;
}

.contFirma {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding-right: 3vw;
}
.firma {
    border-bottom: 4px inset #FFC300;
    font-size: 1.8vw;
}
.puesto {
    font-size: 1.8vw;
}
.contIngresar {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    
}
.contIngresar a {
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid rgb(17, 17, 17);
    width: 10vw;
    padding: 1vw;
    background-color: #900C3E;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    -webkit-box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
}
.contIngresar a:hover {
    background-color: white;
    color: rgb(17, 17, 17);
}

/* -------------------- */

.sectionInicio {
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-size: cover;
    padding-left: 35%;
    padding-top: 2vw;
}
.ulHero{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.ulHero li a{
    text-decoration: none;
    color:#571845;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 2vw;
}
.ulHero li a:hover {
    color: rgb(177, 37, 91);
    transition-duration: 0.5s;
}
.ulHero li {
    border-bottom: 4px inset #FFC300;
}
.ulHero li:hover {
    border-bottom: 4px inset #FF5733;
    transition-duration: 0.8s;
}
.resena {
    padding: 10%;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.articulo1 {    
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    border-bottom: 1px inset #949494c0;
}
.articulo1 div{    
    flex-direction: column;
    margin: 5vw 5vw 0vw 5vw;
    /* padding: 5vw */
}
.hCuatro {
    color: #900C3E;
    font-size: 2.5vw;
    border-bottom: 3px inset #FFC300;
}
h5 {
    color: #FF5733;
    font-size: 1.5vw;
}
.imgArticle {
    height: 100vh;
}
.articulo1Text{
    /* padding: 1vw; */
    text-indent: 0.4vw;
    font-size: 1.4vw;
}
.articulo1Text p{
    margin-top: 0.5vw;
}
/* ------- Leer Mas Boton--------- */
.contLeerMas {
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.contLeerMas a {
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid rgb(17, 17, 17);
    width: 10vw;
    background-color: #900C3E;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    -webkit-box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
}
.contLeerMas a:hover {
    background-color: white;
    color: rgb(17, 17, 17);
}

/* ----------- FOOTER PRINCIPAL------------ */

.footerPrincipal {
    height: 20vw;
    background-color: #571845;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hSeisFooter {
    width: 100%;
    color: white;
    padding: 1vw;
    font-family: 'Monserrat', sans-serif;
    border-bottom: 1px inset #ffffff;
}

.footerPrincipal div p {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin: 2vw;
}
.icon-facebook-squared, .icon-twitter-squared, .icon-instagram-1, .icon-linkedin-squared {
    color: white;
    font-size: 5vw;
    margin: 2vw;
}

/* ------------- CONTACTANOS FORM -------------- */

.articleContactanos{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #571845;
    font-family: 'Titillium Web', sans-serif;

}
.form {
    width: 40%;
}
.form h4 {
    color: white;
    text-align: center;
    font-size: 2.5vw;
}
.form p {
    color: white;
}
.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
}
.form p {
    padding: 1vw 0 1vw 0;
}
.ingresetexto {
    width: 25vw;
    height: 8vw;
}
.boton{
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid rgb(17, 17, 17);
    width: 10vw;
    padding: 1vw;
    background-color: #900C3E;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    -webkit-box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 26px 0px rgba(0,0,0,0.75);
}
.boton:hover {
    background-color: white;
    color: rgb(17, 17, 17);
}

.asideContactanos {
    height: 20vw;
    background-color: #571845;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.asideContactanos div P{
    color:white;
}
.hSeisAside {
    font-size: 2vw;
}

.ulCriticas {
    background-color: #B1D3D2;
    position: absolute;
    width: 100%;
}
.contPostre {
    display: flex;
    justify-content: center;
}
.contPostre img {
    width: 40%;
    border-radius: 2vw;
}
.sectionCriticas {
    background-image: url(img/imgPostre.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px inset #949494c0;

}
.criticaArt {
    padding: 1vw;
    display: flex;
}
.criticaArt img{
    height: 40vw;
    border-radius: 3vw;
    border: 0.1vw solid white;
    -webkit-box-shadow: 0px 0px 9px 8px rgba(43,43,43,1);
    -moz-box-shadow: 0px 0px 9px 8px rgba(43,43,43,1);
    box-shadow: 0px 0px 9px 8px rgba(43,43,43,1);
}
.contenidoArticulo {
    padding: 1vw 1vw 1vw 1.3vw;
}
    
.criticasCont {
    padding: 1vw;
}